body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Times New Roman', Times, serif
}

#hContainer {
    display: flex;
    height: 5vh;
    width: 100vw;
    background-color: white;
    justify-content: center;
}

#header {
    display: flex;
    height: 3vh;
    width: 80vw;
    background-color: blue;
    border: 1px solid #BDC3C8;
    margin-top: 1.8vh;
    /* justify-content: center; */
    align-items: center;
}

#doctor {
    width: 80%;
    display: flex;
    padding-left: 10vh;
    color: white; 
    font-size: 14pt;
    text-decoration: none
}

#headerTime {
    width:15%;
    display: flex;
}

#container {
    display: flex;
    height: 95vh;
    width: 100vw;
    background-color: white;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    text-align: center
}

.rowClass {
    display: flex;
    background-color: #fefefe;
    border: 1px solid #BDC3C8;
    margin-top: 0vh;
    padding: 0vh;
    width: 80vw;
    color: #6F7171;
    font-size: 12pt;
    font-family: 'Times New Roman', Times, serif;
    /* padding-left: 0.5%; */
    
}

.rowClass:active {

    background-color: blue

}

.rowSpacing {

    display: flex;
    width: 25%;
    border-right: 1px solid #aaa;
    height: 3vh;
    font-size: 12pt;
    font-family: 'Times New Roman', Times, serif;
    text-align: center
}


.modal {
   
    visibility: hidden;
    position: absolute;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    /* background-color: rgba(0,0,0,0.4); */
  }
  
  
  .modal-content {
    background-color: grey;
    height: 15%;
    border: 1px solid #888;
    width: 15%; 
    position: absolute;
    border-radius: 5%;
    left: 42.5%;
    top: 42.5%;
    font-size: 12pt

  }
  
 
  .close {
    color: #aaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }